Reto Final/RPA_Macroentorno_Anual.json
{
  "name": "RPA_Macroentorno_Anual",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "PIB pc real"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        16,
        1040
      ],
      "id": "34f362de-4baf-4b0c-b7ec-3eff63a4282b",
      "name": "Extraer PIB pc real"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "PIB pc nominal"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        32,
        1184
      ],
      "id": "f75ec8ea-53d4-4071-8624-7f51a107b6bc",
      "name": "Extraer PIB pc nominal"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "6.1"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        448
      ],
      "id": "fd8e4c90-6f73-45de-bce0-10620bfa61ef",
      "name": "Extract Grupo de ocupación por provincia"
    },
    {
      "parameters": {
        "url": "={{ $json.URL_CSV_DINAMICO }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        656
      ],
      "id": "2d035993-a1f2-4fdb-98f1-2cfb924a4517",
      "name": "HTTP obtener_csv",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el HTML crudo entregado por el Nodo 1\nconst htmlPuro = $input.first().json.data;\nconst enlacesEncontrados = [];\n\n// Expresión regular elástica: Busca cualquier URL entre comillas que contenga \"RegistrosAdministrativos\" y termine en \".csv\"\n// Sin importar si dice MINEDUC, MINEDEC, tiene guiones bajos o errores de tipeo.\nconst regexExtractorUrls = /href=\"([^\"]*RegistrosAdministrativos[^\"]*\\.csv)\"/gi;\n\nlet coincidencia;\n// Buscamos todas las URLs coincidentes dentro del HTML de la página\nwhile ((coincidencia = regexExtractorUrls.exec(htmlPuro)) !== null) {\n  const urlCompleta = coincidencia[1];\n\n  // Expresión regular para extraer los años fiscales del archivo (ej: \"2025-2026\")\n  const regexAnio = /(\\d{4})-\\d{4}/;\n  const matchAnio = urlCompleta.match(regexAnio);\n\n  if (matchAnio) {\n    // Tomamos el año de inicio (ej: \"2025\") y lo convertimos a entero para poder ordenarlo matemáticamente\n    const anioBase = parseInt(matchAnio[1], 10);\n    \n    enlacesEncontrados.push({\n      url: urlCompleta,\n      anio: anioBase\n    });\n  }\n}\n\nif (enlacesEncontrados.length === 0) {\n  throw new Error(\"Control de Contingencia: No se detectaron enlaces CSV válidos en el código fuente de la página.\");\n}\n\n// 2. ORDENACIÓN CRONOLÓGICA INVERSA (De mayor a menor año)\n// Esto garantiza que el año más actual (ej: 2025) quede siempre en la posición [0]\nenlacesEncontrados.sort((a, b) => b.anio - a.anio);\n\n// Aislamos el registro ganador\nconst descargaMasReciente = enlacesEncontrados[0];\n\n// Retornamos el payload normalizado para los siguientes nodos del pipeline\nreturn [{\n  json: {\n    INDICADOR: \"MINEDUC_AMIE_COSTA\",\n    FECHA_FISCAL: descargaMasReciente.anio.toString(), // Guardará \"2025\", \"2026\", etc.\n    URL_CSV_DINAMICO: descargaMasReciente.url,       // ◄--- La URL real mutada y corregida del Ministerio\n    ESTADO: \"COMPLETO\",\n    NECESITA_RESPALDO: 0,\n    DETALLE_ERROR: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        656
      ],
      "id": "75099ede-c87d-4823-b634-f2e70820d69b",
      "name": "Code_obtener_archivo_actual"
    },
    {
      "parameters": {
        "url": "https://contenido.bce.fin.ec/documentos/informacioneconomica/cuentasnacionales/anuales/bam_mei_2018_2024p.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        1040
      ],
      "id": "23193e58-7298-4e41-9cac-d67e0f9bcfc6",
      "name": "BCE Matriz Empleo e Ingresos",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://contenido.bce.fin.ec/documentos/informacioneconomica/cuentasnacionales/anuales/retropolacion_1965_2024p.xlsx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        848
      ],
      "id": "ee1a834b-32e8-495b-ab63-9e65ae136887",
      "name": "BCE PIB real, PIB per cápita",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://educacion.gob.ec/base-de-datos/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        624
      ],
      "id": "6a7bfc26-8fe0-4ce3-be3f-a2b7c56d5378",
      "name": "MINEDUC registro instituciones",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "ADMIN",
          "mode": "list",
          "cachedResultName": "ADMIN"
        },
        "table": {
          "__rl": true,
          "value": "TAB_CONSOLIDADO_MACRO",
          "mode": "list",
          "cachedResultName": "TAB_CONSOLIDADO_MACRO"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "NECESITA_RESPALDO": 0,
            "ID": 0
          },
          "matchingColumns": [
            "FECHA_FISCAL",
            "INDICADOR"
          ],
          "schema": [
            {
              "id": "DATOS_JSON",
              "displayName": "DATOS_JSON",
              "required": false,
              "display": true,
              "type": "object",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "DETALLE_ERROR",
              "displayName": "DETALLE_ERROR",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "FECHA_EXTRACCION",
              "displayName": "FECHA_EXTRACCION",
              "required": true,
              "display": true,
              "type": "dateTime",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "FECHA_FISCAL",
              "displayName": "FECHA_FISCAL",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "display": true,
              "type": "number",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "INDICADOR",
              "displayName": "INDICADOR",
              "required": true,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "NECESITA_RESPALDO",
              "displayName": "NECESITA_RESPALDO",
              "required": true,
              "display": true,
              "type": "number",
              "defaultMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.oracleDatabase",
      "typeVersion": 1,
      "position": [
        864,
        784
      ],
      "id": "71b1fb36-3204-402d-bff6-a24c8522ccd4",
      "name": "Oracle_Upsert_Anual",
      "credentials": {
        "oracleDBApi": {
          "id": "OMf6O0eEInxTpZcJ",
          "name": "Oracle_RPAMACRO_Wallet"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 12,
              "triggerAtDayOfMonth": 15,
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1088,
        576
      ],
      "id": "af2dc505-d638-498e-a316-7d2d2fe73e24",
      "name": "Schedule_Anual"
    },
    {
      "parameters": {
        "url": "https://appscvsmovil.supercias.gob.ec/ranking/recursos/bi_ranking.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        144
      ],
      "id": "e3c02406-7402-4ff6-9402-f112e007cd4a",
      "name": "HTTP_Supercias_Ranking",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.censoecuador.gob.ec/wp-content/uploads/2024/04/2022_CPV_Trabajo.xlsx",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        384
      ],
      "id": "6ad19761-e64f-4c68-9175-fc1458833226",
      "name": "HTTP_MINEDUC_AMIE_Pagina",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\n\n// Expresión regular para capturar dinámicamente cualquier año (ej: 2022, 2030) en las cabeceras\nconst regexAnioDinamico = /\\b(20\\d{2})\\b/; \nlet anioDetectado = null;\n\n// =========================================================================\n// FASE 1: ESCANEO DINÁMICO DE CABECERAS (Busca el año real del documento)\n// =========================================================================\nfor (let i = 0; i < Math.min(rawItems.length, 20); i++) {\n  const filaData = rawItems[i].json;\n  for (const propiedad in filaData) {\n    const textoCelda = String(filaData[propiedad]);\n    const coincidencia = textoCelda.match(regexAnioDinamico);\n    \n    if (coincidencia) {\n      anioDetectado = coincidencia[1]; // Captura el año (ej: \"2022\")\n      break;\n    }\n  }\n  if (anioDetectado) break; // Si ya lo encontramos, detenemos el escaneo preliminar\n}\n\n// Fallback de seguridad en caso de que el archivo venga corrupto o sin títulos\nif (!anioDetectado) {\n  anioDetectado = \"2022\"; \n}\n\n// Función auxiliar para limpiar y parsear enteros del INEC\nfunction parsearNumeroCenso(val) {\n  if (val === undefined || val === null || val === '') return null;\n  if (typeof val === 'number') return val;\n  const limpio = val.toString().replace(/\\./g, '').trim();\n  const num = parseInt(limpio, 10);\n  return isNaN(num) ? null : num;\n}\n\n// =========================================================================\n// FASE 2: PROCESAMIENTO Y TRADUCCIÓN DE LA MATRIZ CENSAL\n// =========================================================================\nfor (const item of rawItems) {\n  const data = item.json;\n  \n  const provincia = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n  const canton = data.__EMPTY_1 ? data.__EMPTY_1.toString().trim() : \"\";\n  const sexo = data.__EMPTY_3 ? data.__EMPTY_3.toString().trim() : \"\";  \n  const edad = data.__EMPTY_4 ? data.__EMPTY_4.toString().trim() : \"\";  \n\n  // Escudo contra filas de basura, títulos e índices\n  if (!sexo || sexo.includes(\"sexo\") || sexo === \"Sexo\" || sexo === \"\" || provincia.includes(\"Índice\")) {\n    continue;\n  }\n  if (!edad || edad.includes(\"edad\") || edad === \"Edad\" || edad === \"\") {\n    continue;\n  }\n\n  // CONSTRUCCIÓN DE LA LLAVE ÚNICA CON EL AÑO DETECTADO DINÁMICAMENTE\n  // Si mañana el INEC sube el censo 2030, esta llave mutará sola a: \"2030_Azuay_Cuenca...\"\n  const llaveCompuesta = `${anioDetectado}_${provincia}_${canton}_${sexo}_${edad}`.replace(/\\s+/g, '');\n  const fechaFiscalClave = llaveCompuesta.substring(0, 50); \n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"CENSO_RAMA_ACTIVIDAD\", // Nombre genérico para admitir múltiples censos en la misma tabla\n      FECHA_FISCAL: fechaFiscalClave,   \n      FECHA_EXTRACCION: new Date(),     \n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        anio_censo: parseInt(anioDetectado, 10), // Guardado dinámico como entero\n        provincia: provincia,\n        canton: canton,\n        sexo: sexo,\n        rango_edad: edad,\n        total_ocupados: parsearNumeroCenso(data.__EMPTY_5), \n        ramas_actividad: {\n          agricultura_pesca: parsearNumeroCenso(data.__EMPTY_6),\n          minas_canteras: parsearNumeroCenso(data.__EMPTY_7),\n          industrias_manufactureras: parsearNumeroCenso(data.__EMPTY_8),\n          electricidad_gas: parsearNumeroCenso(data.__EMPTY_9),\n          agua_saneamiento: parsearNumeroCenso(data.__EMPTY_10),\n          construccion: parsearNumeroCenso(data.__EMPTY_11),\n          comercio: parsearNumeroCenso(data.__EMPTY_12),\n          transporte_almacenamiento: parsearNumeroCenso(data.__EMPTY_13),\n          alojamiento_comidas: parsearNumeroCenso(data.__EMPTY_14),\n          informacion_comunicacion: parsearNumeroCenso(data.__EMPTY_15),\n          financieras_seguros: parsearNumeroCenso(data.__EMPTY_16),\n          inmobiliarias: parsearNumeroCenso(data.__EMPTY_17),\n          profesionales_cientificas: parsearNumeroCenso(data.__EMPTY_18),\n          servicios_administrativos: parsearNumeroCenso(data.__EMPTY_19),\n          administracion_publica: parsearNumeroCenso(data.__EMPTY_20),\n          ensenanza: parsearNumeroCenso(data.__EMPTY_21),\n          salud_asistencia: parsearNumeroCenso(data.__EMPTY_22),\n          arte_entretenimiento: parsearNumeroCenso(data.__EMPTY_23),\n          otros_servicios: parsearNumeroCenso(data.__EMPTY_24),\n          hogares_empleadores: parsearNumeroCenso(data.__EMPTY_25),\n          organizaciones_extraterritoriales: parsearNumeroCenso(data.__EMPTY_26),\n          no_clasificado: parsearNumeroCenso(data.__EMPTY_27) \n        },\n        fuente: \"Instituto Nacional de Estadística y Censos (INEC)\",\n        ruta_logica: \"INEC/CENSO_POBLACION/RAMAS_ACTIVIDAD\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        288
      ],
      "id": "a75d130a-47f5-4088-82ab-5ec11cd38e25",
      "name": "Code_Transformar_BCE_Total_Empleo"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\n\n// Expresión regular para capturar dinámicamente cualquier año (ej: 2022, 2030) en las cabeceras\nconst regexAnioDinamico = /\\b(20\\d{2})\\b/; \nlet anioDetectado = null;\n\n// =========================================================================\n// FASE 1: ESCANEO DINÁMICO DE CABECERAS (Busca el año real del documento)\n// =========================================================================\nfor (let i = 0; i < Math.min(rawItems.length, 20); i++) {\n  const filaData = rawItems[i].json;\n  for (const propiedad in filaData) {\n    const textoCelda = String(filaData[propiedad]);\n    const coincidencia = textoCelda.match(regexAnioDinamico);\n    \n    if (coincidencia) {\n      anioDetectado = coincidencia[1]; // Captura el año dinámico (ej: \"2022\")\n      break;\n    }\n  }\n  if (anioDetectado) break; \n}\n\n// Fallback de seguridad en caso de anomalías en el archivo original\nif (!anioDetectado) {\n  anioDetectado = \"2022\"; \n}\n\n// Función auxiliar para limpiar y parsear enteros del INEC (elimina los puntos de miles)\nfunction parsearNumeroCenso(val) {\n  if (val === undefined || val === null || val === '') return null;\n  if (typeof val === 'number') return val;\n  const limpio = val.toString().replace(/\\./g, '').trim();\n  const num = parseInt(limpio, 10);\n  return isNaN(num) ? null : num;\n}\n\n// =========================================================================\n// FASE 2: PROCESAMIENTO Y TRADUCCIÓN DE LA MATRIZ DE OCUPACIONES\n// =========================================================================\nfor (const item of rawItems) {\n  const data = item.json;\n  \n  // Conservamos el mapeo de control de dimensiones con el desfase corregido de la hoja anterior\n  const provincia = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n  const canton = data.__EMPTY_1 ? data.__EMPTY_1.toString().trim() : \"\";\n  const sexo = data.__EMPTY_3 ? data.__EMPTY_3.toString().trim() : \"\";  \n  const edad = data.__EMPTY_4 ? data.__EMPTY_4.toString().trim() : \"\";  \n\n  // Escudo contra filas de basura, cabeceras redundantes e índices parciales\n  if (!sexo || sexo.includes(\"sexo\") || sexo === \"Sexo\" || sexo === \"\" || provincia.includes(\"Índice\")) {\n    continue;\n  }\n  if (!edad || edad.includes(\"edad\") || edad === \"Edad\" || edad === \"\") {\n    continue;\n  }\n\n  // CONSTRUCCIÓN DE LA LLAVE ÚNICA DINÁMICA\n  // Evita colisiones con la hoja 5.1 usando un INDICADOR único, pero mantiene la coherencia de periodos\n  const llaveCompuesta = `${anioDetectado}_${provincia}_${canton}_${sexo}_${edad}`.replace(/\\s+/g, '');\n  const fechaFiscalClave = llaveCompuesta.substring(0, 50); \n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"CENSO_GRUPO_OCUPACION\", // ◄--- Identificador exclusivo para separar esta matriz horizontal de la anterior\n      FECHA_FISCAL: fechaFiscalClave,   \n      FECHA_EXTRACCION: new Date(),     \n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        anio_censo: parseInt(anioDetectado, 10),\n        provincia: provincia,\n        canton: canton,\n        sexo: sexo,\n        rango_edad: edad,\n        total_ocupados: parsearNumeroCenso(data.__EMPTY_5), \n        // Estructura limpia de las 11 columnas mapeadas secuencialmente desde las imágenes 2 y 3\n        grupos_ocupacion: {\n          ocupaciones_militares: parsearNumeroCenso(data.__EMPTY_6),\n          directores_gerentes: parsearNumeroCenso(data.__EMPTY_7),\n          profesionales_cientificos: parsearNumeroCenso(data.__EMPTY_8),\n          tecnicos_profesionales: parsearNumeroCenso(data.__EMPTY_9),\n          personal_apoyo: parsearNumeroCenso(data.__EMPTY_10),\n          trabajadores_servicios: parsearNumeroCenso(data.__EMPTY_11),\n          agricultores_trabajadores: parsearNumeroCenso(data.__EMPTY_12),\n          oficiales_operarios: parsearNumeroCenso(data.__EMPTY_13),\n          operadores_maquinaria: parsearNumeroCenso(data.__EMPTY_14),\n          ocupaciones_elementales: parsearNumeroCenso(data.__EMPTY_15),\n          no_especificado: parsearNumeroCenso(data.__EMPTY_16) // ◄--- Columna de cierre verificada en img3\n        },\n        fuente: \"Instituto Nacional de Estadística y Censos (INEC)\",\n        ruta_logica: \"INEC/CENSO_POBLACION/GRUPOS_OCUPACION\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        432
      ],
      "id": "22839781-9652-45fd-8e43-5f7ac8dbf623",
      "name": "Code_Transformar_BCE_VAB"
    },
    {
      "parameters": {
        "jsCode": "// 1. Leemos el archivo binario descargado por el nodo HTTP Request anterior\nconst itemBinario = $input.first();\nconst archivoPlanoText = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Soportamos el salto de línea estándar de archivos CSV (\\n o \\r\\n)\nconst lineas = archivoPlanoText.toString('utf-8').split(/\\r?\\n/);\nconst listaFilasProcesadas = [];\n\n// Función para limpiar celdas y parsear números enteros con puntos de miles o guiones vacíos\nfunction parsearNumeroMineduc(val) {\n  if (val === undefined || val === null) return 0;\n  // Eliminamos espacios en blanco comunes y espacios de no ruptura (\\u00A0)\n  let limpio = val.toString().replace(/[\\s\\u00A0]/g, '').trim();\n  // Si la celda contiene el guion de ausencia o está vacía, su valor lógico es 0\n  if (limpio === '-' || limpio === '' || limpio === '.-') return 0;\n  // Removemos los puntos de miles para que JavaScript no lo trate como decimal\n  limpio = limpio.replace(/\\./g, '');\n  const num = parseInt(limpio, 10);\n  return isNaN(num) ? 0 : num;\n}\n\n// Empezamos en el índice 1 para saltarnos la fila de cabeceras (headers)\nfor (let i = 1; i < lineas.length; i++) {\n  const filaCruda = lineas[i];\n  if (!filaCruda.trim()) continue; // Ignoramos líneas vacías al final del documento\n\n  // Separamos las columnas por punto y coma (;) según la especificación de la fuente\n  const celdas = filaCruda.split(';');\n\n  // Validación de seguridad: Si la fila no tiene al menos el código AMIE, está corrupta\n  const amieCodigo = celdas[1] ? celdas[1].trim() : \"\";\n  if (!amieCodigo || amieCodigo === \"AMIE\") continue;\n\n  // EXTRAER EL AÑO BASE DE FORMA DINÁMICA\n  // \"2025-2026 Inicio\" -> Tomamos los primeros 4 dígitos (\"2025\") para mantener la coherencia cronológica\n  const anioLectivoRaw = celdas[0] ? celdas[0].trim() : \"\";\n  const matchAnio = anioLectivoRaw.match(/^(\\d{4})/);\n  const anioFiscal = matchAnio ? matchAnio[1] : \"2025\";\n\n  // GENERACIÓN DE LA LLAVE ÚNICA DE NEGOCIO (FECHA_FISCAL)\n  // Combinamos el año base con el código AMIE único de la institución (Ej: \"2025_10H00120\")\n  // Esto garantiza que el Upsert de Oracle actualice los datos si el Ministerio altera el archivo, sin duplicar escuelas.\n  const fechaFiscalClave = `${anioFiscal}_${amieCodigo}`.replace(/\\s+/g, '');\n\n  listaFilasProcesadas.push({\n    json: {\n      INDICADOR: \"MINEDUC_AMIE_COSTA\",\n      FECHA_FISCAL: fechaFiscalClave.substring(0, 150),\n      FECHA_EXTRACCION: new Date(),\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        periodo_lectivo: anioLectivoRaw,\n        anio_base: parseInt(anioFiscal, 10),\n        \n        // 🏢 1. Metadata e Infraestructura de la Institución\n        institucion: {\n          amie: amieCodigo,\n          nombre: celdas[2] ? celdas[2].trim() : \"\",\n          zona: celdas[3] ? celdas[3].trim() : \"\",\n          provincia: celdas[4] ? celdas[4].trim() : \"\",\n          cod_provincia: celdas[5] ? celdas[5].trim() : \"\",\n          canton: celdas[6] ? celdas[6].trim() : \"\",\n          cod_canton: celdas[7] ? celdas[7].trim() : \"\",\n          parroquia: celdas[8] ? celdas[8].trim() : \"\",\n          cod_parroquia: celdas[9] ? celdas[9].trim() : \"\",\n          escolarizacion: celdas[10] ? celdas[10].trim() : \"\",\n          tipo_educacion: celdas[11] ? celdas[11].trim() : \"\",\n          nivel_educacion: celdas[12] ? celdas[12].trim() : \"\",\n          sostenimiento: celdas[13] ? celdas[13].trim() : \"\",\n          area: celdas[14] ? celdas[14].trim() : \"\",\n          regimen_escolar: celdas[15] ? celdas[15].trim() : \"\",\n          jurisdiccion: celdas[16] ? celdas[16].trim() : \"\",\n          modalidad: celdas[17] ? celdas[17].trim() : \"\",\n          jornada: celdas[18] ? celdas[18].trim() : \"\",\n          tenencia_inmueble: celdas[19] ? celdas[19].trim() : \"\",\n          acceso_edificio: celdas[20] ? celdas[20].trim() : \"\"\n        },\n\n        // 👥 2. Datos del Personal (Docente y Administrativo)\n        personal: {\n          docentes_mujeres: parsearNumeroMineduc(celdas[21]),\n          docentes_hombres: parsearNumeroMineduc(celdas[22]),\n          total_docentes: parsearNumeroMineduc(celdas[23]),\n          administrativos_mujeres: parsearNumeroMineduc(celdas[24]),\n          administrativos_hombres: parsearNumeroMineduc(celdas[25]),\n          total_administrativos: parsearNumeroMineduc(celdas[26])\n        },\n\n        // 🎓 3. Resumen Global de Alumnado\n        estudiantes_resumen: {\n          estudiantes_mujeres: parsearNumeroMineduc(celdas[27]),\n          estudiantes_hombres: parsearNumeroMineduc(celdas[28]),\n          total_estudiantes: parsearNumeroMineduc(celdas[29])\n        },\n\n        // 📊 4. Desglose Matricial por Rangos de Edad y Grados de Básica/Bachillerato\n        estudiantes_detallado: {\n          menores_3_anos: { m: parsearNumeroMineduc(celdas[30]), h: parsearNumeroMineduc(celdas[31]) },\n          grupo_3_anos:   { m: parsearNumeroMineduc(celdas[32]), h: parsearNumeroMineduc(celdas[33]) },\n          grupo_4_anos:   { m: parsearNumeroMineduc(celdas[34]), h: parsearNumeroMineduc(celdas[35]) },\n          basica_1er_ano: { m: parsearNumeroMineduc(celdas[36]), h: parsearNumeroMineduc(celdas[37]) },\n          basica_2do_ano: { m: parsearNumeroMineduc(celdas[36]), h: parsearNumeroMineduc(celdas[39]) },\n          basica_3er_ano: { m: parsearNumeroMineduc(celdas[40]), h: parsearNumeroMineduc(celdas[41]) },\n          basica_4to_ano: { m: parsearNumeroMineduc(celdas[42]), h: parsearNumeroMineduc(celdas[43]) },\n          basica_5to_ano: { m: parsearNumeroMineduc(celdas[44]), h: parsearNumeroMineduc(celdas[45]) },\n          basica_6to_ano: { m: parsearNumeroMineduc(celdas[46]), h: parsearNumeroMineduc(celdas[47]) },\n          basica_7mo_ano: { m: parsearNumeroMineduc(celdas[48]), h: parsearNumeroMineduc(celdas[49]) },\n          basica_8vo_ano: { m: parsearNumeroMineduc(celdas[50]), h: parsearNumeroMineduc(celdas[51]) },\n          basica_9no_ano: { m: parsearNumeroMineduc(celdas[52]), h: parsearNumeroMineduc(celdas[53]) },\n          basica_10mo_ano:{ m: parsearNumeroMineduc(celdas[54]), h: parsearNumeroMineduc(celdas[55]) },\n          bachillerato_1er_ano: { m: parsearNumeroMineduc(celdas[56]), h: parsearNumeroMineduc(celdas[57]) },\n          bachillerato_2do_ano: { m: parsearNumeroMineduc(celdas[58]), h: parsearNumeroMineduc(celdas[59]) },\n          bachillerato_3er_ano: { m: parsearNumeroMineduc(celdas[60]), h: parsearNumeroMineduc(celdas[61]) },\n          alfabetizacion: { m: parsearNumeroMineduc(celdas[62]), h: parsearNumeroMineduc(celdas[63]) },\n          ciclos_intensivos: { m: parsearNumeroMineduc(celdas[64]), h: parsearNumeroMineduc(celdas[65]) }\n        },\n        fuente: \"Ministerio de Educación del Ecuador (MINEDUC)\",\n        ruta_logica: \"MINEDUC/AMIE/REGISTROS_ADMINISTRATIVOS\"\n      })\n    }\n  });\n}\n\nreturn listaFilasProcesadas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        640
      ],
      "id": "75ae69b5-c578-4ff2-8c7c-f9b2224e0c1b",
      "name": "Code_Error_Anual"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\n\n// Expresión regular para validar que la fila empiece con un año de 4 dígitos\nconst regexAnio = /^\\d{4}/;\n\nfor (const item of rawItems) {\n  const data = item.json;\n  const anioRaw = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n\n  // FILTRO INTELIGENTE: Si no empieza con año, es basura\n  if (!regexAnio.test(anioRaw)) {\n    continue;\n  }\n\n  const pibRealMillones = parseFloat(data.__EMPTY_1);\n  const poblacion = parseFloat(data.__EMPTY_2);\n  const pibPcRealUsd = parseFloat(data.__EMPTY_3);\n  const tasaVariacion = parseFloat(data.__EMPTY_4);\n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"PIB_REAL_PER_CAPITA\",\n      FECHA_FISCAL: anioRaw,         // ◄--- NUEVA: El año como clave primaria lógica\n      FECHA_EXTRACCION: new Date(),   // Objeto Date nativo corregido\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,           // Tipo número corregido\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        fecha_fiscal: anioRaw, \n        pib_real_millones: isNaN(pibRealMillones) ? null : pibRealMillones,\n        poblacion_total: isNaN(poblacion) ? null : poblacion,\n        pib_pc_real_usd: isNaN(pibPcRealUsd) ? null : pibPcRealUsd,\n        tasa_variacion_anual: isNaN(tasaVariacion) ? null : tasaVariacion,\n        fuente: \"Banco Central del Ecuador\",\n        ruta_logica: \"BCE/CUENTAS_NACIONALES/PIB_PC_REAL\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        928
      ],
      "id": "e2264787-9cc1-4712-85d0-80ac1bb71327",
      "name": "Code_Transformar_INEC_Rama_Actividad"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\nconst regexAnio = /^\\d{4}/;\n\nfor (const item of rawItems) {\n  const data = item.json;\n  const anioRaw = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n\n  if (!regexAnio.test(anioRaw)) {\n    continue;\n  }\n\n  const pibNominalMillones = parseFloat(data.__EMPTY_1);\n  const poblacion = parseFloat(data.__EMPTY_2);\n  const pibPcNominalUsd = parseFloat(data.__EMPTY_3);\n  const tasaVariacionNominal = parseFloat(data.__EMPTY_4);\n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"PIB_NOMINAL_PER_CAPITA\",\n      FECHA_FISCAL: anioRaw,         // ◄--- NUEVA: El año como clave primaria lógica\n      FECHA_EXTRACCION: new Date(),   // Objeto Date nativo corregido\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,           // Tipo número corregido\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        fecha_fiscal: anioRaw,\n        pib_nominal_millones: isNaN(pibNominalMillones) ? null : pibNominalMillones,\n        poblacion_total: isNaN(poblacion) ? null : poblacion,\n        pib_pc_nominal_usd: isNaN(pibPcNominalUsd) ? null : pibPcNominalUsd,\n        tasa_variacion_anual: isNaN(tasaVariacionNominal) ? null : tasaVariacionNominal,\n        fuente: \"Banco Central del Ecuador\",\n        ruta_logica: \"BCE/CUENTAS_NACIONALES/PIB_PC_NOMINAl\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1104
      ],
      "id": "59a82e42-ecf9-495d-bea2-59e12fce9cce",
      "name": "Code_Transformar_INEC_Grupo_Ocupacion"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\n\nfunction parsearNumeroExcel(val) {\n  if (val === undefined || val === null || val === '') return null;\n  if (typeof val === 'number') return val;\n  const limpio = val.toString().replace(/,/g, '').trim();\n  const num = parseFloat(limpio);\n  return isNaN(num) ? null : num;\n}\n\nfor (const item of rawItems) {\n  const data = item.json;\n  \n  const seccionCiiu = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n  const cie = data.__EMPTY_1 ? data.__EMPTY_1.toString().trim() : \"\";\n  const industria = data.__EMPTY_2 ? data.__EMPTY_2.toString().trim() : \"\";\n\n  if (!industria || industria === \"Industria\" || industria.includes(\"Puestos de trabajo\")) {\n    continue;\n  }\n\n  // Generamos un identificador único para la industria que quepa en VARCHAR2(50)\n  const idIndustriaClave = (cie || industria).substring(0, 50);\n\n  if (industria === \"Total Empleo\") {\n    listaConsolidada.push({\n      json: {\n        INDICADOR: \"MEI_TOTAL_EMPLEO_NUR\",\n        FECHA_FISCAL: idIndustriaClave, // ◄--- NUEVA: Evita duplicar esta industria horizontal\n        FECHA_EXTRACCION: new Date(),\n        ESTADO: \"COMPLETO\",\n        NECESITA_RESPALDO: 0,\n        DETALLE_ERROR: \"\",\n        DATOS_JSON: JSON.stringify({\n          seccion_ciiu: seccionCiiu,\n          cie: cie,\n          industria: industria,\n          valores_anuales: {\n            2018: parsearNumeroExcel(data.__EMPTY_3),\n            2019: parsearNumeroExcel(data.__EMPTY_4),\n            2020: parsearNumeroExcel(data.__EMPTY_5),\n            2021: parsearNumeroExcel(data.__EMPTY_6),\n            2022: parsearNumeroExcel(data.__EMPTY_7),\n            2023: parsearNumeroExcel(data.__EMPTY_8),\n            2024: parsearNumeroExcel(data.__EMPTY_9)\n          },\n          fuente: \"Banco Central del Ecuador\",\n          ruta_logica: \"BCE/CUENTAS_NACIONALES/MEI_TOTAL_EMPLEO\"\n        })\n      }\n    });\n    break; \n  }\n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"MEI_EMPLEO_SECTORIAL\",\n      FECHA_FISCAL: idIndustriaClave,   // ◄--- NUEVA: Mapeo por sector\n      FECHA_EXTRACCION: new Date(),\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        seccion_ciiu: seccionCiiu,\n        cie: cie,\n        industria: industria,\n        valores_anuales: {\n          2018: parsearNumeroExcel(data.__EMPTY_3),\n          2019: parsearNumeroExcel(data.__EMPTY_4),\n          2020: parsearNumeroExcel(data.__EMPTY_5),\n          2021: parsearNumeroExcel(data.__EMPTY_6),\n          2022: parsearNumeroExcel(data.__EMPTY_7),\n          2023: parsearNumeroExcel(data.__EMPTY_8),\n          2024: parsearNumeroExcel(data.__EMPTY_9)\n        },\n        fuente: \"Banco Central del Ecuador\",\n        ruta_logica: \"BCE/CUENTAS_NACIONALES/MEI_TOTAL_EMPLEO\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1264
      ],
      "id": "db3869ef-e19b-4278-8cac-8b82c4f479fb",
      "name": "Code_Transformar_BCE_PIB_Real"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst listaConsolidada = [];\n\nfunction parsearNumeroExcel(val) {\n  if (val === undefined || val === null || val === '') return null;\n  if (typeof val === 'number') return val;\n  const limpio = val.toString().replace(/,/g, '').trim();\n  const num = parseFloat(limpio);\n  return isNaN(num) ? null : num;\n}\n\nfor (const item of rawItems) {\n  const data = item.json;\n  \n  const ciiu = data.__EMPTY ? data.__EMPTY.toString().trim() : \"\";\n  const cie = data.__EMPTY_1 ? data.__EMPTY_1.toString().trim() : \"\";\n  const industria = data.__EMPTY_2 ? data.__EMPTY_2.toString().trim() : \"\";\n\n  if (!industria || industria === \"Industria\" || industria.includes(\"VALOR AGREGADO\")) {\n    continue;\n  }\n\n  const idVabClave = (cie || industria).substring(0, 50);\n\n  if (industria === \"Valor Agregado Total\") {\n    listaConsolidada.push({\n      json: {\n        INDICADOR: \"MEI_VAB_TOTAL\",\n        FECHA_FISCAL: idVabClave,       // ◄--- NUEVA: Unicidad del gran total\n        FECHA_EXTRACCION: new Date(),\n        ESTADO: \"COMPLETO\",\n        NECESITA_RESPALDO: 0,\n        DETALLE_ERROR: \"\",\n        DATOS_JSON: JSON.stringify({\n          ciiu: ciiu,\n          cie: cie,\n          industria: industria,\n          valores_anuales: {\n            2018: parsearNumeroExcel(data.__EMPTY_3),\n            2019: parsearNumeroExcel(data.__EMPTY_4),\n            2020: parsearNumeroExcel(data.__EMPTY_5),\n            2021: parsearNumeroExcel(data.__EMPTY_6),\n            2022: parsearNumeroExcel(data.__EMPTY_7),\n            2023: parsearNumeroExcel(data.__EMPTY_8),\n            2024: parsearNumeroExcel(data.__EMPTY_9)\n          },\n          fuente: \"Banco Central del Ecuador\",\n          ruta_logica: \"BCE/CUENTAS_NACIONALES/MEI_VAB\"\n        })\n      }\n    });\n    break; \n  }\n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"MEI_VAB_SECTORIAL\",\n      FECHA_FISCAL: idVabClave,         // ◄--- NUEVA: Unicidad por sector industrial\n      FECHA_EXTRACCION: new Date(),\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        ciiu: ciiu,\n        cie: cie,\n        industria: industria,\n        valores_anuales: {\n          2018: parsearNumeroExcel(data.__EMPTY_3),\n          2019: parsearNumeroExcel(data.__EMPTY_4),\n          2020: parsearNumeroExcel(data.__EMPTY_5),\n          2021: parsearNumeroExcel(data.__EMPTY_6),\n          2022: parsearNumeroExcel(data.__EMPTY_7),\n          2023: parsearNumeroExcel(data.__EMPTY_8),\n          2024: parsearNumeroExcel(data.__EMPTY_9)\n        },\n        fuente: \"Banco Central del Ecuador\",\n        ruta_logica: \"BCE/CUENTAS_NACIONALES/MEI_VAB\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1504
      ],
      "id": "7cccf787-0b6e-4eea-ae7b-2bc2292b2b34",
      "name": "Code_Transformar_BCE_PIB_Per_Capita"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "VAB"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        1600
      ],
      "id": "335bb6ea-d733-4ee7-b378-e99e57f954ec",
      "name": "Extraer_Excel_BCE_VAB"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "TOTAL EMPLEO"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        1392
      ],
      "id": "1ffdc663-d398-4637-8a2b-ae1af2067ada",
      "name": "Extraer_Excel_BCE_Total_Empleo"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "5.1"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        272
      ],
      "id": "4f7e1409-4759-4679-96d6-236d4033132d",
      "name": "Extraer_Excel_INEC_Rama_Actividad"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el ítem de error que activó el nodo\nconst rawItem = $input.first().json;\nconst hoy = new Date();\n\n// 2. Formateamos una fecha de salvavidas para la FECHA_FISCAL (YYYY-MM-DD)\nconst anio = hoy.getFullYear();\nconst mes = String(hoy.getMonth() + 1).padStart(2, '0');\nconst dia = String(hoy.getDate()).padStart(2, '0');\nconst fechaFallback = `${anio}-${mes}-${dia}`;\n\nlet mensajeError = \"Fallo indeterminado en la conectividad con la fuente anual.\";\nlet urlAfectada = \"\";\n\n// Extraemos el mensaje técnico y la URL del objeto de error de n8n\nif (rawItem.error) {\n  mensajeError = rawItem.error.message || JSON.stringify(rawItem.error);\n  urlAfectada = rawItem.error.context?.url || \"\";\n} else if (rawItem.message) {\n  mensajeError = rawItem.message;\n}\n\n// 3. ALGORITMO DE CLASIFICACIÓN DE FUENTES ANUALES\n// Escaneamos el rastro de texto para identificar cuál de las 4 fuentes falló\nlet indicadorTarget = \"ANUAL_DESCONOCIDO\";\nlet rutaLogicaTarget = \"COYUNTURA/ANUAL/CONTINGENCIA\";\n\nconst rastroTexto = (mensajeError + \" \" + urlAfectada).toLowerCase();\n\nif (rastroTexto.includes(\"bce\") || rastroTexto.includes(\"cuentasnacionales\") || rastroTexto.includes(\"fin.ec\")) {\n  indicadorTarget = \"BCE_CUENTAS_NACIONALES\";\n  rutaLogicaTarget = \"BCE/CUENTAS_NACIONALES/ANUAL\";\n} \nelse if (rastroTexto.includes(\"ranking\") || rastroTexto.includes(\"supercias\") || rastroTexto.includes(\"appscvsmovil\")) {\n  indicadorTarget = \"SUPERCIAS_RANKING\";\n  rutaLogicaTarget = \"SUPERCIAS/RANKING/INGRESOS_VENTAS\";\n} \nelse if (rastroTexto.includes(\"censo\") || rastroTexto.includes(\"censoecuador\") || rastroTexto.includes(\"tabulados\")) {\n  indicadorTarget = \"INEC_CENSO_2022\";\n  rutaLogicaTarget = \"INEC/CENSO_2022/ESTATICA\";\n} \nelse if (rastroTexto.includes(\"educacion.gob.ec\") || rastroTexto.includes(\"amie\") || rastroTexto.includes(\"registrosadministrativos\")) {\n  indicadorTarget = \"MINEDUC_AMIE_COSTA\";\n  rutaLogicaTarget = \"MINEDUC/AMIE/REGISTROS_ADMINISTRATIVOS\";\n}\n\n// 4. RETORNAMOS EL PAYLOAD HOMOLOGADO DE ALERTA PARA EL NODO ORACLE\nreturn [{\n  json: {\n    INDICADOR: indicadorTarget, // Cambia dinámicamente según la fuente caída\n    FECHA_FISCAL: `${fechaFallback}_ERR_ANUAL`, // Evita duplicados en ejecuciones del mismo día\n    FECHA_EXTRACCION: hoy,\n    ESTADO: \"INCOMPLETO\",\n    NECESITA_RESPALDO: 1, // Enciende la bandera de alerta para el equipo de soporte\n    DETALLE_ERROR: `Fallo Crítico Anual [${indicadorTarget}]: ${mensajeError}`.substring(0, 4000),\n    DATOS_JSON: JSON.stringify({\n      error: true,\n      fase: \"INGESTA_HTTP_ANUAL\",\n      mensaje_tecnico: mensajeError,\n      url_origen: urlAfectada,\n      fuente: \"Consolidador de Contingencias Anuales\",\n      ruta_logica: rutaLogicaTarget\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        816
      ],
      "id": "38316185-73d9-4548-9acc-8da141ea806f",
      "name": "Code_Error_Anual1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        288
      ],
      "id": "bf0db21b-5f5b-475d-b6cd-fdf09c37a53a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/supercias/ranking/supercias_ranking_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".csv\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        16
      ],
      "id": "67459caa-d9f2-4a4a-9fea-9b6aa4de9fe0",
      "name": "Guardar_Archivo_Supercias_Ranking"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/mineduc/amie/mineduc_amie_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".csv\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        208
      ],
      "id": "418ba207-0fa0-4c7d-9737-8036327fd2ab",
      "name": "Guardar_Archivo_MINEDUC_AMIE"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/inec/censo_2022/inec_censo_2022_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".xlsx\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        496
      ],
      "id": "371b17e5-2bd6-4380-8f4b-416ae60b826a",
      "name": "Guardar_Archivo_INEC_Censo2022"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/bce/cuentas_nacionales/bce_pib_real_pc_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".xlsx\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        784
      ],
      "id": "d8fc5738-4414-4ef5-9ee5-47d131ae8354",
      "name": "Guardar_Archivo_BCE_PIB_Real_PC"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/bce/cuentas_nacionales/bce_matriz_empleo_ingresos_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".xlsx\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        1072
      ],
      "id": "ad32e5f1-ac3c-41e9-acbe-38f6d647fcf2",
      "name": "Guardar_Archivo_BCE_Matriz_Empleo_Ingresos"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraemos el flujo binario descargado de los servidores de la SUPERCIAS\nconst archivoPlanoText = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst lineas = archivoPlanoText.toString('utf-8').split(/\\r?\\n/);\nconst listaFilasProcesadas = [];\n\nif (lineas.length < 2) {\n  throw new Error(\"Control de Contingencia: El archivo CSV de Ranking no contiene registros suficientes.\");\n}\n\n// 2. EXTRACCIÓN DINÁMICA DE CABECERAS\n// Leemos la primera línea para identificar el orden exacto de las 54 columnas\nconst cabeceras = lineas[0].split(',').map(c => c.trim().toLowerCase());\n\n// Función auxiliar para parsear valores de forma segura (números limpios o nulos)\nfunction procesarValorFinanciero(val) {\n  if (val === undefined || val === null) return null;\n  const limpio = val.toString().trim();\n  if (limpio === '' || limpio === '-' || limpio === 'null') return null;\n  \n  const num = Number(limpio);\n  return isNaN(num) ? limpio : num; // Si es numérico lo convierte, sino conserva el texto\n}\n\n// 3. PROCESAMIENTO MATRICIAL DE FILAS FINANCIERAS\nfor (let i = 1; i < lineas.length; i++) {\n  const filaCruda = lineas[i];\n  if (!filaCruda.trim()) continue; // Ignoramos baches o líneas vacías al final\n\n  // Separamos por comas considerando el formato plano estándar del archivo\n  const celdas = filaCruda.split(',');\n\n  // Construimos un objeto dinámico emparejando cada cabecera con su celda correspondiente\n  const registroDinamic = {};\n  cabeceras.forEach((cabecera, indice) => {\n    registroDinamic[cabecera] = procesarValorFinanciero(celdas[indice]);\n  });\n\n  // Aislamos las dimensiones clave de negocio para el control de la base de datos\n  const anioFiscal = registroDinamic[\"anio\"] ? registroDinamic[\"anio\"].toString() : \"\";\n  const expediente = registroDinamic[\"expediente\"] ? registroDinamic[\"expediente\"].toString() : \"\";\n\n  // Escudo de seguridad contra filas inconsistentes\n  if (!anioFiscal || !expediente) continue;\n\n  // GENERACIÓN DE LA LLAVE ÚNICA DE INTEGRIDAD (FECHA_FISCAL)\n  // Evita la colisión de datos en el Upsert de Oracle combinando periodo y código de compañía (Ej: \"2008_1\")\n  const fechaFiscalClave = `${anioFiscal}_${expediente}`.replace(/\\s+/g, '');\n\n  listaConsolidada.push({\n    json: {\n      INDICADOR: \"SUPERCIAS_RANKING\",\n      FECHA_FISCAL: fechaFiscalClave.substring(0, 150),\n      FECHA_EXTRACCION: new Date(),\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        anio_ejercicio: parseInt(anioFiscal, 10),\n        expediente: parseInt(expediente, 10),\n        posicion_general: registroDinamic[\"posicion_general\"] || null,\n        indicadores_control: {\n          cia_imvalores: registroDinamic[\"cia_imvalores\"],\n          id_estado_financiero: registroDinamic[\"id_estado_financiero\"],\n          cod_segmento: registroDinamic[\"cod_segmento\"],\n          n_empleados: registroDinamic[\"n_empleados\"]\n        },\n        estructura_balance: {\n          activos: registroDinamic[\"activos\"],\n          patrimonio: registroDinamic[\"patrimonio\"],\n          deuda_total: registroDinamic[\"deuda_total\"],\n          deuda_total_c_plazo: registroDinamic[\"deuda_total_c_plazo\"]\n        },\n        cuenta_resultados: {\n          ingresos_ventas: registroDinamic[\"ingresos_ventas\"],\n          ingresos_totales: registroDinamic[\"ingresos_totales\"],\n          costos_ventas_prod: registroDinamic[\"costos_ventas_prod\"],\n          gastos_admin_ventas: registroDinamic[\"gastos_admin_ventas\"],\n          gastos_financieros: registroDinamic[\"gastos_financieros\"],\n          total_gastos: registroDinamic[\"total_gastos\"],\n          utilidad_an_imp: registroDinamic[\"utilidad_an_imp\"],\n          impuesto_renta: registroDinamic[\"impuesto_renta\"],\n          utilidad_ejercicio: registroDinamic[\"utilidad_ejercicio\"],\n          utilidad_neta: registroDinamic[\"utilidad_neta\"]\n        },\n        ratios_financieros: {\n          liquidez: {\n            corriente: registroDinamic[\"liquidez_corriente\"],\n            prueba_acida: registroDinamic[\"prueba_acida\"]\n          },\n          solvencia_apalancamiento: {\n            end_activo: registroDinamic[\"end_activo\"],\n            end_patrimonial: registroDinamic[\"end_patrimonial\"],\n            end_activo_fijo: registroDinamic[\"end_activo_fijo\"],\n            end_corto_plazo: registroDinamic[\"end_corto_plazo\"],\n            end_largo_plazo: registroDinamic[\"end_largo_plazo\"],\n            apalancamiento: registroDinamic[\"apalancamiento\"],\n            apalancamiento_financiero: registroDinamic[\"apalancamiento_financiero\"]\n          },\n          rentabilidad: {\n            roe: registroDinamic[\"roe\"],\n            roa: registroDinamic[\"roa\"],\n            margen_bruto: registroDigamico[\"margen_bruto\"],\n            margen_operacional: registroDinamic[\"margen_operacional\"]\n          }\n        },\n        clasificacion_industrial: {\n          ciiu_n1: registroDinamic[\"ciiu_n1\"] || \"\",\n          ciiu_n6: registroDinamic[\"ciiu_n6\"] || \"\"\n        },\n        fuente: \"Superintendencia de Compañías, Valores y Seguros del Ecuador\",\n        ruta_logica: \"SUPERCIAS/RANKING/INGRESOS_VENTAS\"\n      })\n    }\n  });\n}\n\nreturn listaConsolidada;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        80
      ],
      "id": "2085cf16-eda5-42ed-80dd-3aeeec9792a2",
      "name": "Code_Transformar_Supercias_Ranking"
    }
  ],
  "pinData": {},
  "connections": {
    "Extraer PIB pc real": {
      "main": [
        [
          {
            "node": "Code_Transformar_INEC_Rama_Actividad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PIB pc nominal": {
      "main": [
        [
          {
            "node": "Code_Transformar_INEC_Grupo_Ocupacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grupo de ocupación por provincia": {
      "main": [
        [
          {
            "node": "Code_Transformar_BCE_VAB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_obtener_archivo_actual": {
      "main": [
        [
          {
            "node": "HTTP obtener_csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP obtener_csv": {
      "main": [
        [
          {
            "node": "Code_Error_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCE Matriz Empleo e Ingresos": {
      "main": [
        [
          {
            "node": "Extraer_Excel_BCE_Total_Empleo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer_Excel_BCE_VAB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar_Archivo_BCE_Matriz_Empleo_Ingresos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_Anual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BCE PIB real, PIB per cápita": {
      "main": [
        [
          {
            "node": "Extraer PIB pc real",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer PIB pc nominal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar_Archivo_BCE_PIB_Real_PC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_Anual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MINEDUC registro instituciones": {
      "main": [
        [
          {
            "node": "Code_obtener_archivo_actual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar_Archivo_INEC_Censo2022",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_Anual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule_Anual": {
      "main": [
        [
          {
            "node": "BCE PIB real, PIB per cápita",
            "type": "main",
            "index": 0
          },
          {
            "node": "BCE Matriz Empleo e Ingresos",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_MINEDUC_AMIE_Pagina",
            "type": "main",
            "index": 0
          },
          {
            "node": "MINEDUC registro instituciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Supercias_Ranking": {
      "main": [
        [
          {
            "node": "Guardar_Archivo_Supercias_Ranking",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code_Transformar_Supercias_Ranking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_Anual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_MINEDUC_AMIE_Pagina": {
      "main": [
        [
          {
            "node": "Extraer_Excel_INEC_Rama_Actividad",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Grupo de ocupación por provincia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar_Archivo_MINEDUC_AMIE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_Anual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_BCE_Total_Empleo": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_BCE_VAB": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Error_Anual": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_INEC_Rama_Actividad": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_INEC_Grupo_Ocupacion": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_BCE_PIB_Real": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_BCE_PIB_Per_Capita": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer_Excel_BCE_VAB": {
      "main": [
        [
          {
            "node": "Code_Transformar_BCE_PIB_Per_Capita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer_Excel_BCE_Total_Empleo": {
      "main": [
        [
          {
            "node": "Code_Transformar_BCE_PIB_Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer_Excel_INEC_Rama_Actividad": {
      "main": [
        [
          {
            "node": "Code_Transformar_BCE_Total_Empleo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Error_Anual1": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP_Supercias_Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_Supercias_Ranking": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "32da8ed8-d981-40ab-9673-80946b389de1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "425ae91c12f4b94cfdf82ff5b5ac0d9406da463459a735641cef19e14c844e06"
  },
  "id": "mftHaIjMBz66upHz",
  "tags": []
}