Reto Final/RPA_Macroentorno_Trimestral.json
{
  "name": "RPA_Macroentorno_Trimestral",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.ecuadorencifras.gob.ec/estadisticas-laborales-enemdu/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        112
      ],
      "id": "13a0a742-bd16-40aa-9412-6c3a2ddd118f",
      "name": "HTTP_INEC_ENEMDU_Pagina",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 3,
              "triggerAtHour": 9,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        -16
      ],
      "id": "c1201b1b-6786-4c08-b3f8-a44490dbf286",
      "name": "Schedule_Trimestral"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el HTML crudo entregado por el paso anterior\nconst htmlPuro = $input.first().json.data;\n\n// Expresión regular elástica: Busca cualquier URL dentro de un href que contenga el patrón exclusivo de los tabulados\nconst regexZipEnemdu = /href=\"([^\"]*Tabulados_Mercado_Laboral_CSV[^\"]*\\.zip)\"/i;\nconst coincidencia = htmlPuro.match(regexZipEnemdu);\n\n// Escudo de control de errores: Si el INEC cambia drásticamente la página, se activa la contingencia\nif (!coincidencia) {\n  throw new Error(\"Control de Contingencia: No se localizó el patrón 'Tabulados_Mercado_Laboral_CSV' en el portal del INEC.\");\n}\n\nconst urlZipCompleta = coincidencia[1];\n\n// 2. EXTRACCIÓN DINÁMICA DEL PERÍODO FISCAL\n// El INEC antepone el año y mes al archivo (ej: 202604_Tabulados...). Capturamos esos 6 dígitos.\nconst regexPeriodo = /(\\d{4})(\\d{2})_Tabulados/i;\nconst matchPeriodo = urlZipCompleta.match(regexPeriodo);\n\nlet fechaFiscalFormateada = \"\";\n\nif (matchPeriodo) {\n  const anio = matchPeriodo[1]; // \"2026\"\n  const mes = matchPeriodo[2];  // \"04\"\n  fechaFiscalFormateada = `${anio}-${mes}`; // Resultado homogéneo: \"2026-04\"\n} else {\n  // Fallback analítico por si remueven los dígitos del nombre del archivo\n  const fechaActual = new Date();\n  fechaFiscalFormateada = `${fechaActual.getFullYear()}-${String(fechaActual.getMonth() + 1).padStart(2, '0')}`;\n}\n\n// Retornamos el payload preparado para el inyector web y la auditoría\nreturn [{\n  json: {\n    INDICADOR: \"INEC_ENEMDU_TABULADOS\",\n    FECHA_FISCAL: fechaFiscalFormateada, // ◄--- Dinámica y automatizada (Evita duplicados)\n    URL_ZIP_DINAMICO: urlZipCompleta,    // ◄--- La URL real mutada del mes vigente\n    ESTADO: \"COMPLETO\",\n    NECESITA_RESPALDO: 0,\n    DETALLE_ERROR: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "b5cbbc5e-b4b7-4f3a-908d-1d5bf7749e4f",
      "name": "Code_Buscar_ZIP_ENEMDU"
    },
    {
      "parameters": {
        "url": "={{ $json.URL_ZIP_DINAMICO }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        96
      ],
      "id": "e2f1acc5-ae92-4045-bdcd-b321bb96e216",
      "name": "HTTP_Descargar_ZIP_ENEMDU",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        32,
        -16
      ],
      "id": "15f66f2b-0324-4af3-9ceb-ea34113ff8ca",
      "name": "Descomprimir_ZIP_ENEMDU"
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el ítem que llega al nodo (con la metadata del error del HTTP que falló)\nconst rawItem = $input.first().json;\nconst hoy = new Date();\n\n// 2. Formateamos una fecha de fallback para la FECHA_FISCAL (YYYY-MM-DD)\nconst anio = hoy.getFullYear();\nconst mes = String(hoy.getMonth() + 1).padStart(2, '0');\nconst dia = String(hoy.getDate()).padStart(2, '0');\nconst fechaFallback = `${anio}-${mes}-${dia}`;\n\n// 3. Extracción molecular y segura del mensaje de error del HTTP anterior\nlet mensajeError = \"Fallo indeterminado en la conectividad con el servidor del INEC.\";\n\nif (rawItem.error) {\n  mensajeError = rawItem.error.message || JSON.stringify(rawItem.error);\n} else if (rawItem.message) {\n  mensajeError = rawItem.message;\n}\n\n// 4. Retornamos el payload de contingencia estructurado exactamente para Oracle\nreturn [{\n  json: {\n    INDICADOR: \"INEC_ENEMDU_POBLACIONES\",\n    FECHA_FISCAL: `${fechaFallback}_ERR_ENEMDU`, // Clave única controlada del día para el Upsert\n    FECHA_EXTRACCION: hoy,\n    ESTADO: \"INCOMPLETO\",\n    NECESITA_RESPALDO: 1, // ◄--- SE ENCIENDE LA BANDERA DE ALERTA EN ORACLE\n    DETALLE_ERROR: `Fallo Crítico en Pipeline de Ingesta: ${mensajeError}`.substring(0, 4000),\n    DATOS_JSON: JSON.stringify({\n      error: true,\n      fase: \"INGESTA_HTTP_ENEMDU\",\n      mensaje_tecnico: mensajeError,\n      fuente: \"Instituto Nacional de Estadística y Censos (INEC)\",\n      ruta_logica: \"INEC/ENEMDU/CONTINGENCIA_ERROR\"\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        416
      ],
      "id": "85f7227c-6685-42fd-b147-046f56e2e3e5",
      "name": "Code_Error_ENEMDU"
    },
    {
      "parameters": {
        "jsCode": "// 1. Apuntamos directamente a la llave binaria 'file_1' generada por el nodo Decompress\nconst archivoPlanoText = await this.helpers.getBinaryDataBuffer(0, 'file_1');\n\n// Soportamos el salto de línea del archivo CSV\nconst lineas = archivoPlanoText.toString('utf-8').split(/\\r?\\n/);\nconst listaFilasProcesadas = [];\n\n// Diccionario para traducir las abreviaturas de meses del INEC a formato numérico estándar\nconst mesesMap = {\n  ene: \"01\", feb: \"02\", mar: \"03\", abr: \"04\", may: \"05\", jun: \"06\",\n  jul: \"07\", ago: \"08\", sep: \"09\", oct: \"10\", nov: \"11\", dic: \"12\"\n};\n\n// Función para reparar el Mojibake (caracteres rotos por codificación) y limpiar espacios\nfunction sanitizarTextoInec(str) {\n  if (!str) return \"\";\n  return str.toString().trim()\n    .replace(/Poblacin/g, \"Población\")\n    .replace(/Econmicamente/g, \"Económicamente\")\n    .replace(/aos/g, \"años\")\n    .replace(/rea/g, \"Área\");\n}\n\n// Función para transformar los números con puntos de miles del INEC a enteros puros de JS\nfunction parsearNumeroInec(val) {\n  if (val === undefined || val === null) return 0;\n  let limpio = val.toString().replace(/[\\s\\u00A0]/g, '').trim();\n  if (limpio === '-' || limpio === '' || limpio === '.-') return 0;\n  limpio = limpio.replace(/\\./g, ''); // Removemos los puntos de miles\n  const num = parseInt(limpio, 10);\n  return isNaN(num) ? 0 : num;\n}\n\n// Función para normalizar el periodo (ej: \"dic-07\" -> \"2007-12\")\nfunction normalizarPeriodoInec(periodoRaw) {\n  const partes = periodoRaw.toLowerCase().split('-');\n  if (partes.length !== 2) return { texto: \"2007-12\", anio: 2007, mes: 12 };\n  \n  const mesAbrev = partes[0].trim();\n  const anioDosDigitos = partes[1].trim();\n  \n  const mesNum = mesesMap[mesAbrev] || \"12\";\n  const anioNum = parseInt(anioDosDigitos, 10);\n  \n  // Si el año es menor o igual a 50 asumimos siglo XXI (ej: 26 -> 2026), de lo contrario siglo XX\n  const anioCuatroDigitos = anioNum <= 50 ? 2000 + anioNum : 1900 + anioNum;\n  \n  return {\n    texto: `${anioCuatroDigitos}-${mesNum}`,\n    anio: anioCuatroDigitos,\n    mes: parseInt(mesNum, 10)\n  };\n}\n\n// Empezamos en la línea 3 para ignorar las filas vacías y de títulos estructurales del CSV\nfor (let i = 3; i < lineas.length; i++) {\n  const filaCruda = lineas[i];\n  if (!filaCruda.trim() || filaCruda.startsWith(';')) continue; \n\n  // Separación por punto y coma (;) típica de los tabulados del INEC\n  const celdas = filaCruda.split(';');\n\n  const encuesta = celdas[0] ? celdas[0].trim() : \"\";\n  const periodoRaw = celdas[1] ? celdas[1].trim() : \"\";\n  const indicadorNombre = celdas[2] ? sanitizarTextoInec(celdas[2]) : \"\";\n\n  // Si no hay indicador válido en la fila, nos la saltamos por seguridad\n  if (!indicadorNombre || indicadorNombre.includes(\"Indicadores\")) continue;\n\n  // Procesamos la fecha de forma dinámica\n  const fechaDinamica = normalizarPeriodoInec(periodoRaw);\n\n  // Creamos un slug limpio del indicador para construir nuestra FECHA_FISCAL única compuesta\n  const slugIndicador = indicadorNombre\n    .toLowerCase()\n    .replace(/[^a-z0-9]/g, '')\n    .substring(0, 25);\n\n  // FECHA_FISCAL COMPUESTA: Combinación perfecta anti-sobreescritura (Ej: \"2007-12_poblaciontotal\")\n  const fechaFiscalClave = `${fechaDinamica.texto}_${slugIndicador}`;\n\n  listaFilasProcesadas.push({\n    json: {\n      INDICADOR: \"INEC_ENEMDU_POBLACIONES\",\n      FECHA_FISCAL: fechaFiscalClave.substring(0, 150),\n      FECHA_EXTRACCION: new Date(),\n      ESTADO: \"COMPLETO\",\n      NECESITA_RESPALDO: 0,\n      DETALLE_ERROR: \"\",\n      DATOS_JSON: JSON.stringify({\n        encuesta: encuesta,\n        periodo_original: periodoRaw,\n        anio_fiscal: fechaDinamica.anio,\n        mes_fiscal: fechaDinamica.mes,\n        nombre_indicador: indicadorNombre,\n        metricas: {\n          nacional_total: parsearNumeroInec(celdas[3]),\n          area_urbana:    parsearNumeroInec(celdas[4]),\n          area_rural:     parsearNumeroInec(celdas[5]),\n          sexo_hombre:    parsearNumeroInec(celdas[6]),\n          sexo_mujer:     parsearNumeroInec(celdas[7])\n        },\n        fuente: \"Instituto Nacional de Estadística y Censos (INEC)\",\n        ruta_logica: \"INEC/ENEMDU/TABULADOS_1_POBLACIONES\"\n      })\n    }\n  });\n}\n\nreturn listaFilasProcesadas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -32
      ],
      "id": "fd7cf8de-0e87-45a9-bf15-3cd49eb64243",
      "name": "Code_Transformar_ENEMDU"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "ADMIN",
          "mode": "list",
          "cachedResultName": "ADMIN"
        },
        "table": {
          "__rl": true,
          "value": "TAB_CONSOLIDADO_MACRO",
          "mode": "list",
          "cachedResultName": "TAB_CONSOLIDADO_MACRO"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "NECESITA_RESPALDO": 0,
            "ID": 0
          },
          "matchingColumns": [
            "FECHA_FISCAL",
            "INDICADOR"
          ],
          "schema": [
            {
              "id": "DATOS_JSON",
              "displayName": "DATOS_JSON",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "DETALLE_ERROR",
              "displayName": "DETALLE_ERROR",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": true,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "FECHA_EXTRACCION",
              "displayName": "FECHA_EXTRACCION",
              "required": true,
              "display": true,
              "type": "dateTime",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "FECHA_FISCAL",
              "displayName": "FECHA_FISCAL",
              "required": true,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "display": true,
              "type": "number",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "INDICADOR",
              "displayName": "INDICADOR",
              "required": true,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "removed": false
            },
            {
              "id": "NECESITA_RESPALDO",
              "displayName": "NECESITA_RESPALDO",
              "required": false,
              "display": true,
              "type": "number",
              "defaultMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.oracleDatabase",
      "typeVersion": 1,
      "position": [
        512,
        160
      ],
      "id": "8db0016e-d190-4e46-a2da-7bc364cad697",
      "name": "Oracle_Upsert_ENEMDU",
      "credentials": {
        "oracleDBApi": {
          "id": "OMf6O0eEInxTpZcJ",
          "name": "Oracle_RPAMACRO_Wallet"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        272
      ],
      "id": "24290564-0e5e-45dd-8ac0-0a3d7cb9691b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/node/datos_macroentorno/inec/enemdu/inec_enemdu_\" + $(\"Code_Buscar_ZIP_ENEMDU\").first().json.FECHA_FISCAL.replace(\"-\", \"\") + \".zip\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        160,
        192
      ],
      "id": "42cf1a89-4a03-4476-b659-6d7402656f8b",
      "name": "Guardar_ZIP_INEC_ENEMDU"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP_INEC_ENEMDU_Pagina": {
      "main": [
        [
          {
            "node": "Code_Buscar_ZIP_ENEMDU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule_Trimestral": {
      "main": [
        []
      ]
    },
    "Code_Buscar_ZIP_ENEMDU": {
      "main": [
        [
          {
            "node": "HTTP_Descargar_ZIP_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Descargar_ZIP_ENEMDU": {
      "main": [
        [
          {
            "node": "Descomprimir_ZIP_ENEMDU",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar_ZIP_INEC_ENEMDU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Error_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir_ZIP_ENEMDU": {
      "main": [
        [
          {
            "node": "Code_Transformar_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Error_ENEMDU": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Transformar_ENEMDU": {
      "main": [
        [
          {
            "node": "Oracle_Upsert_ENEMDU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP_INEC_ENEMDU_Pagina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_ZIP_INEC_ENEMDU": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1f129f05-ad13-4505-88f1-4902d3826d13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "425ae91c12f4b94cfdf82ff5b5ac0d9406da463459a735641cef19e14c844e06"
  },
  "id": "zdZTTCRzMzKVVHsF",
  "tags": []
}